<% layout("layouts/boilerplate") %>

<h1 class="text-center">About Gym Reviewer</h1>
<!-- <h3>Find Your Perfect Gym!</h3>
<p>
  Find the gym that is right for you based on your training style, equipment
  preferences, location, and budget. No matter if you are traveling, moving, or
  just looking to get into the fitness.
</p>

<h3>Allow Gym Owners to Advertise Their Gym</h3>
<p>
  Are you a gym owner trying to reach a wider audience? Add your gym, photos,
  and information onto Gym Reviewer!
</p>
<h3>Review and Provide Ratings for Gyms</h3>
<p>
  Review gyms you visit. Tell others of your experience using the gym and help
  gym owners receive feedback!
</p> -->

<div class="card-group mt-5">
  <div class="card">
    <img
      src="https://media.istockphoto.com/vectors/set-of-3d-sports-equipment-items-vector-illustration-vector-id1192515700?k=20&m=1192515700&s=612x612&w=0&h=T2_BqUbZSMi6lCAcxphDFE1jyTDYBIEutpT57SkTccw="
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Find Your Perfect Gym!</h5>
      <p class="card-text">
        Find the gym that is right for you based on your training style,
        equipment preferences, location, and budget. No matter if you are
        traveling, moving, or just looking to get into the fitness.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://media.istockphoto.com/vectors/professional-gentleman-suit-tuxedo-logo-vector-men-clothing-graphic-vector-id1204131581?k=20&m=1204131581&s=612x612&w=0&h=OTIFadreuwCwZlxLr7eLh65Sgn4Q0GIw4SpFNrNIpUI="
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Allow Gym Owners to Advertise Their Gym!</h5>
      <p class="card-text">
        Are you a gym owner trying to reach a wider audience? Add your gym,
        photos, and information onto Gym Reviewer!
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://media.istockphoto.com/vectors/checkmark-icon-check-mark-vector-isolated-illustration-vector-id1205148147?k=20&m=1205148147&s=612x612&w=0&h=6WoITHTxFwIBVnfODxsh7wAzU3-AZFkg0YZ5U_8COqw="
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Review and Provide Ratings for Gyms</h5>
      <p class="card-text">
        Review gyms you visit. Tell others of your experience using the gym and
        help gym owners receive feedback!
      </p>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-body d-flex flex-column align-items-center">
    <h5 class="card-title">Sign up Today!</h5>
    <p class="card-text">
      Completely for free. Add and browse gyms and reviews.
    </p>
    <a href="http://localhost:3000/accounts/signup" class="btn btn-primary"
      >Sign up</a
    >
  </div>
</div>
