<% layout('layouts/boilerplate') %>
<h1 class="text-center">Welcome to Gym Reviewer</h1>
<blockquote class="blockquote text-center">
  <p>Find the right place to train</p>
</blockquote>
<div class="text-center mb-5 mt-3">
  <img src="images/gymLogo.jpeg" class="rounded img-fluid" alt="gymLogo" />
</div>
